<div>
    <h2 id="page-heading">
        <span>Instructors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-instructor" [routerLink]="['/instructor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Instructor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="instructors">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Email</span></th>
            <th><span>Instructordetail</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let instructor of instructors ;trackBy: trackId">
                <td><a [routerLink]="['/instructor', instructor.id, 'view' ]">{{instructor.id}}</a></td>
                <td>{{instructor.name}}</td>
                <td>{{instructor.email}}</td>
                <td>
                    <div *ngIf="instructor.instructordetail">
                        <a [routerLink]="['../instructordetail', instructor.instructordetail?.id, 'view' ]" >{{instructor.instructordetail?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/instructor', instructor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/instructor', instructor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'instructor/'+ instructor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
